#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&pointing_listener {
    status = "okay";
    device = <&pointing_device>;
    
    /* 通常移動：Layer 0, 1, 2 で有効 */
    layers = <0 1 2>;
    input-processors = 
        <&zip_xy_scaler 1 2>, // 速度を1/2に減速
        <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
};

/ {
    /* Layer 3専用：スクロールとして動作するリスナー */
    pointing_scroll_listener: pointing_scroll_listener {
        compatible = "zmk,input-listener";
        device = <&pointing_device>;
        layers = <3>;
        input-processors = 
            <&zip_xy_scaler 1 2>, 
            <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,
            <&zip_xy_to_scroll_mapper>;
    };
};
